.intro-modal
  .modal-header
    h4
      font-size: 1.4em
      text-align: center

.poster-select
  .thumbnail
    &:hover
      border-color: black
      cursor: pointer

    h5
      margin: 0
      font-size: 1.2em
      text-align: center
    img
      width: 256px 
      height: 192px