.poster-select
  .card
    &:hover
      border-color: black
      cursor: pointer

    h5
      margin: 0
      font-size: 1.2em
      text-align: center
    img
      width: 256px 
      height: 192px