.editor .panel .titles-list
  @import './title-selector'

  .add
    display: block
    width: 98%
    margin: 5px auto
    background-color: white
    border-color: darken(@background-color, 50%)
    color: black

    &:hover
      background-color: darken(@background-color, 5%)
