.editable-title
  position: absolute
  padding: 3px
  border: 1px dashed rgba(0, 0, 0, 0.5)
  border-radius: 3px
  cursor: default

  &.selected
    border: 1px solid #00FF00

  &.dragged
    border: 1px solid #000
    cursor: move
