@require 'bootstrap/thumbnails'

.intro-modal
  .modal-header
    h4
      font-size: 1.4em
      text-align: center

.poster-select
  .thumbnail
    &:hover
      border-color: black
      cursor: pointer

    h5
      margin: 0
      font-size: 1.2em
      text-align: center
    img
      size: 256px 192px