.poster-select
  .thumbnail
    float: left
    padding: 5px
    border: 1px solid black
    border-radius: 5px
    cursor: pointer
    color: #000
    background-color: invert(@color)
    &:hover
      color: @background-color
      background-color: invert(@color)
    strong
      display: block
      text-align: center
    img
      size: 256px 192px