.editor
  position: relative
  user-select: none

  .panel
    size: 400px 100%
    absolute: top
    border: 1px solid #aaa
    box-shadow: 1px 1px 5px #888
    border-radius: 5px
    background-color: rgba(0, 0, 0, 0.05)
