.titleEdit
	z-index: 50
	.title
		background-color: transparent
		border: 1px solid transparent
	.fontForm
	.confirm
		display: none

	&.editing
		z-index: 70
		background-color: rgba(255, 255, 255, 0.9)
		.title
			border: 1px solid black
		.fontForm
			display: block
			//backgroundColor': '#ccc'}, 
		.confirm
			display: block